---
interface Props {
    icon: any;
    title: content;
    content:any;
}
const {icon, title, content} = Astro.props;

---


<div class="solutions-one__single">
    <div class="solutions-one__icon">
        <h2>{icon}</h2>
    </div>
    <h4 class="solutions-one__title"><a href=''>{title}</a></h4>
    <p class="solutions-one__text">
        {content}
    </p>
    
</div>


<style>
  
</style>