

<section class="free-trail">
    <div class="container">
        <div class="free-trail__wrap">
            <div class="free-trail__shape-3"
                style="background-image: url(images/shapes/free-trail-shape-3.png);"></div>
            <div class="free-trail__shape-1 float-bob-x"></div>
            <div class="free-trail__start-1 zoominout">
                <img src="images/shapes/free-trail-start-1.png" alt="">
            </div>
            <div class="free-trail__start-2 float-bob-y">
                <img src="images/shapes/free-trail-start-2.png" alt="">
            </div>
            <div class="free-trail__start-3 float-bob-x">
                <img src="images/shapes/free-trail-start-3.png" alt="">
            </div>
            <div class="free-trail__start-4 zoominout">
                <img src="images/shapes/free-trail-start-4.png" alt="">
            </div>
            <div class="free-trail__inner">
                <div class="section-title text-center">
                    <div class="section-title__tagline-box">
                        <span class="section-title__tagline">Queres empezar a desarrollar tu aplicacion?</span>
                    </div>
                    <h2 class="section-title__title">Contactanos para <br> empezar a desarrollar tu idea.
                    </h2>
                </div>
                
                <div class="free-trail__btn-box">
                    <a href="contact" class="thm-btn-two free-trail__btn">Comencemos! <i
                            class="icon-up-right-arrow"></i> </a>
                </div>
            </div>
        </div>
    </div>
	
</section>