---
import Layout from "../layouts/Layout.astro";

---

<!-- Page Title Start -->

<Layout>
    <div class="page-wrapper">
		<!--Error Page Start-->
		<section class="error-page full-height">
			<div class="error-page__shape-1">
				<img src="images/shapes/404-shape-1.png" alt="">
			</div>
			<div class="error-page__shape-2"></div>
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="error-page__inner">
							<div class="error-page__title-box">
								<h2 class="error-page__title">404</h2>
							</div>
							<h3 class="error-page__tagline">Oops! Esta pantalla no esta disponible.</h3>
							<p class="error-page__text">La pagina a la que quieres acceder ya no exite.
							</p>
							<div class="error-page__btn-box">
								<a href="index.html" class="error-page__btn thm-btn">Volvamos al inicio<span
										class="icon-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Error Page End-->


		
</Layout>
