---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Página no encontrada - ON BJORN"
	description="La página que buscás no está disponible."
	noindex={true}
>
	<main id="main-content">
		<section class="error-page full-height">
			<div class="error-page__shape-1" aria-hidden="true">
				<img src="/images/shapes/404-shape-1.png" alt="">
			</div>
			<div class="error-page__shape-2"></div>
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="error-page__inner">
							<div class="error-page__title-box">
								<h1 class="error-page__title">404</h1>
							</div>
							<h2 class="error-page__tagline">¡Oops! Esta pantalla no está disponible.</h2>
							<p class="error-page__text">La página a la que querés acceder ya no existe.</p>
							<div class="error-page__btn-box">
								<a href="/" class="error-page__btn thm-btn">Volvamos al inicio<span
										class="icon-arrow-right" aria-hidden="true"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
