---
import Layout from "../layouts/Layout.astro";
import Contacto from '../components/shared/Contacto.astro'
---

<!-- Page Title Start -->

<Layout>



<section class="page-title">
    <div class="container">
        <div class="page-title__inner">
            <div class="page-title__shape-1"
                style="background-image: url(images/shapes/page-title-shape-1.png);"></div>
            <div class="page-title__title-box">
                <!-- <p class="page-title__sub-title">Sobre Nosotros</p> -->
                <h3 class="page-title__title">
                    Desarrollamos tu Marca Online
                    para Exhibir tu Trabajo con el Mundo <br>
                    游깴
                </h3>
            </div>
            <p class="page-title__text">
                    Nos comprometemos a potenciar tu imagen y volverla tu mayor herramienta para poder desempe침arte de la mejor manera en el mundo online.
            </p>
        </div>
    </div>
</section>
<!-- Page Title End -->

<!-- About One Start -->
<section class="about-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-one__left">
                    <div class="about-one__left-content">
                        <h3 class="about-one__title"> Mejora tu imagen. <br>
                            Potencia tus ventas. <br>
                            Emprende Online.
                        </h3>
                        <p class="about-one__text">
                            Nuestra experiencia en desarrollo de aplicaciones y dise침o interactivo ofrece el mejor producto
                            para mantener y potenciar tu marca.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About One End -->

<!-- Team One Start -->
<section class="team-one">
    <div class="container">
        <h3 class="team-one__title">
            Conoce nuestras herramientas para hacer realidad tu objetivo
        </h3>
        <div class="row">
            
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="../../public/images/resource/astro-icon-light.svg" alt="">
                        
                        
                    </div>
                    <div class="team-one__content">
                        <h4 class="team-one__name"><a href="about.html">Astro</a></h4>
                        <p class="team-one__sub-title">Desarrollo Web</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-one__single">
                    <div class="team-one__img">
                        
                        <img src="../../public/images/resource/file-type-angular.svg" alt="">
                        
                    </div>
                    <div class="team-one__content">
                        <h4 class="team-one__name"><a href="about.html">Angular</a></h4>
                        <p class="team-one__sub-title">Desarrollo Web</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="../../public/images/resource/node-js.svg" alt="">
                    </div>
                    <div class="team-one__content">
                        <h4 class="team-one__name"><a href="about.html">Express JS</a></h4>
                        <p class="team-one__sub-title">Desarrollo Web</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="../../public/images/resource/react.svg" alt="">
                        
                    </div>
                    <div class="team-one__content">
                        <h4 class="team-one__name"><a href="about.html">React</a></h4>
                        <p class="team-one__sub-title">Desarrollo Web</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="../../public/images/resource/mysql.svg" alt="">
                        
                    </div>
                    <div class="team-one__content">
                        <h4 class="team-one__name"><a href="about.html">MySQL</a></h4>
                        <p class="team-one__sub-title">Desarrollo Web</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="../../public/images/resource/vercel.svg" alt="">
                        
                    </div>
                    <div class="team-one__content">
                        <h4 class="team-one__name"><a href="about.html">Vercel</a></h4>
                        <p class="team-one__sub-title">Desarrollo Web</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="../../public/images/resource/docker.svg" alt="">
                        
                    </div>
                    <div class="team-one__content">
                        <h4 class="team-one__name"><a href="about.html">Docker</a></h4>
                        <p class="team-one__sub-title">Desarrollo Web</p>
                    </div>
                </div>
            </div>
            

            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="../../public/images/resource/photoshop.svg" alt="">
                        
                    </div>
                    <div class="team-one__content">
                        <h4 class="team-one__name"><a href="about.html">Photoshop</a></h4>
                        <p class="team-one__sub-title">Dise침o Grafico</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team One End -->


<!-- AI Product Start -->
<section class="ai-product">
    <div class="container">
        <h3 class="ai-product__top-title">
            Nuestros productos son desarrollados usando las ultimas tecnologias y orientandolo hacia donde apunta el mercado online actual.
        </h3>
        <div class="row">
            <!-- AI Product Single Start -->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="ai-product__single">
                    <div class="ai-product__icon">
                        <img src="images/icons/research-discovery.png" alt="">
                    </div>
                    <h4 class="ai-product__title"><a href="about.html">Buscamos Conocerte.</a></h4>
                    <p class="ai-product__text">
                        Establecemos una conexion con nuestros clientes para relacionarnos con el producto final.
                    </p>
                </div>
            </div>
            <!-- AI Product Single End -->
            <!-- AI Product Single Start -->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="ai-product__single">
                    <div class="ai-product__icon">
                        <img src="images/icons/information-architecture.png" alt="">
                    </div>
                    <h4 class="ai-product__title"><a href="about.html">Conocemos las tendencias.</a></h4>
                    <p class="ai-product__text">
                        Nos mantenemos al corriente de las tendencias del mercado y de dise침o llamativo e interactivo.
                    </p>
                </div>
            </div>
            <!-- AI Product Single End -->
            <!-- AI Product Single Start -->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="ai-product__single">
                    <div class="ai-product__icon">
                        <img src="images/icons/design-development.png" alt="">
                    </div>
                    <h4 class="ai-product__title"><a href="about.html">Sin Problemas.</a></h4>
                    <p class="ai-product__text">
                        Te desligamos de cualquier problema relacionado a el desarrollo de las aplicaciones.
                    </p>
                </div>
            </div>
            <!-- AI Product Single End -->
            <!-- AI Product Single Start -->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="ai-product__single">
                    <div class="ai-product__icon">
                        <img src="images/icons/quality-assurance.png" alt="">
                    </div>
                    <h4 class="ai-product__title"><a href="about.html">Desarrollo, Despligue y Resultados</a></h4>
                    <p class="ai-product__text">
                        Queremos que conozcas los resultados de nuestro trabajo sin vueltas.
                    </p>
                </div>
            </div>
            <!-- AI Product Single End -->
        </div>
    </div>
</section>
<!-- AI Product End -->

<Contacto />

<!-- Free Trail End -->

</Layout>