---
import Layout from '../layouts/Layout.astro';
import Presentacion from '../components/inicio/Presentacion.astro'
import Servicios from '../components/inicio/Servicios.astro'
import Proyectos from '../components/inicio/Proyectos.astro'
import Preguntas from '../components/inicio/Preguntas.astro'
import Contacto from '../components/shared/Contacto.astro'
---

<Layout>

    <!-- Page Title Start -->
		<section class="page-title">
			<div class="container">
				<div class="page-title__inner">
					<div class="page-title__shape-1"
						style="background-image: url(images/shapes/page-title-shape-1.png);"></div>
					<div class="page-title__title-box">
						
						<h3 class="page-title__title">
                            Estamos esperando <br> 
                            crear tu idea. 
                            <br>
                            🙌</h3>
					</div>
					
				</div>
			</div>
		</section>
		<!-- Page Title End -->

		<!-- Contact One Start -->
		<section class="contact-one">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6">
						<div class="contact-one__left">
							<div class="contact-one__left-content">
								<div class="contact-one__title-box">
									<h3>Contactanos en nuestras <br> Redes Sociales</h3>
									<p>Las grandes ideas comienzan por un sueño, y nosotros somos quienes las convertimos en realidad. </p>
								</div>
								<ul class="contact-one__contact-list">
									<li>
										<div class="icon">
											<span class="icon-call"></span>
										</div>
										<div class="text">
											<p>
												<a href="tel:+541168204445">+54 11 6820 4445</a>
											</p>
										</div>
									</li>
									<li>
										<div class="icon">
											<span class="icon-map"></span>
										</div>
										<div class="text">
											<p>
												Buenos Aires, Argentina.
											</p>
										</div>
									</li>
									<li>
										<div class="icon">
											<span class="icon-envelope"></span>
										</div>
										<div class="text">
											<p>
												<a href="mailto:barolojeremias@gmail.com">barolojeremias@gmail.com</a>
											</p>
										</div>
									</li>
								</ul>
								<div class="contact-one__social">
                                    <a href="https://github.com/JeremiasBarolo" target="_blank"><span class="icon-social-1"></span></a>
                                    <a href="https://www.instagram.com/on_bjorn/" target="_blank"><span class="icon-social-5"></span></a>
                                    <a href="https://www.linkedin.com/in/jeremias-barolo-721083250" target="_blank" class="icon-social">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                            <path d="M8 11l0 5" />
                                            <path d="M8 8l0 .01" />
                                            <path d="M12 16l0 -5" />
                                            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                                        </svg>
                                    </a>
                                </div>
                                
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6 mt-4">
						<iframe 
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105073.45340225006!2d-58.515698696010766!3d-34.61565477009822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1715527990118!5m2!1ses-419!2sar" 
						style="
						border:0; 
						width: 100%; height: 100%; 
						margin-top: 20px;" 
						allowfullscreen="true" 
						loading="lazy" 
						referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					
                    
				</div>
			</div>
		</section>

		<style>
			.map-container {
				position: relative;
				padding-bottom: 56.25%; /* Proporción 16:9 */
				height: 0;
				overflow: hidden;
			}
			
			.map-container iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			
			@media (min-width: 768px) {
				.map-container iframe {
					margin-top: 20px; /* Ajustar según sea necesario */

				}
			}
		</style>

</Layout>

