---
import Layout from '../layouts/Layout.astro';
import Presentacion from '../components/inicio/Presentacion.astro'
import Servicios from '../components/inicio/Servicios.astro'
import Proyectos from '../components/inicio/Proyectos.astro'
import Preguntas from '../components/inicio/Preguntas.astro'
import Contacto from '../components/shared/Contacto.astro'
---

<Layout>
	<main id="main-content">
		<Presentacion />
		<Servicios />

		<div class="section-title text-center">
			<div class="section-title__tagline-box">
				<span class="section-title__tagline">Proyectos</span>
			</div>
			<h2 class="section-title__title">Estos son algunos de los proyectos <br> en los que participamos <br> <span aria-hidden="true">🙌</span></h2>
		</div>

		<Proyectos />
		<Contacto />
		<Preguntas />
	</main>
</Layout>
