
<section class="faq-one" id="faq">
    <div class="container">
        <div class="section-title text-center">
            <div class="section-title__tagline-box">
                <span class="section-title__tagline">Preguntas Frecuentes</span>
            </div>
            <h6 class="section-title__title">¿Tenes Alguna Pregunta sobre <br> Nuestros Servicios? 
                <br>
                🧐
                </h6>
        </div>
        <div class="faq-one__inner">
            <div class="accrodion-grp" data-grp-name="faq-one-accrodion">

                

                <div class="faq-one__inner faq-one-accrodion">
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>¿Por qué necesito una web?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    Tener una página web es primordial para el mercado actual. <br> <br>
                                    Solo en Estados Unidos, el mercado online representa el 91.8% de las ventas de un emprendimiento, 
                                    es decir, al no tener presencia online usted estaría perdiendo una gran oportunidad de crecer y cambiar su realidad.
                                    <br>
                                    Por otro lado, tener una web profesional es, en muchos casos, el último paso para terminar de consolidar su imagen como marca.
                                </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                


                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>¿Que necesito para crear mi web?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>
                                Como principal, buscamos tener conversaciones fluidas con nuestros clientes. Este punto siendo clave para establecer 
                                y cumplir con nuesto objetivo. <br> <br>
                                Para poder crear su sitio web vamos a necesitar un correo electronico,
                                en lo posible este debera ser uno nuevo para uso exclusivo de la web. <br> <br>

                                De ser posible, necesitamos imagenes respresentativas de los productos que se desea exponer o el objetivo a concretar. <br>
                                De no contar con estas, rellenaremos las mismas con imagenes genericas de alta calidad.
                                
                            </p>
                        </div><!-- /.inner -->
                    </div>
                </div>


                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>¿Como hago que mi web se vea online?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>
                                Para poder ver tu web de manera online, necesitamos, una vez habiendo terminado, subir tu web a un servicio llamado hosting. <br>

                                <strong>El hosting es un espacio en la web donde vamos a poder guardar nuestra web para mostrarla al público.</strong>
                                
                                <br> <br>

                                Los hosting influyen de manera radical en el funcionamiento de la web, siendo los pagos los recomendables para todas nuestras apps.
                                <br> <br>
                                Al terminar la app, subiremos la aplicación a un hosting gratuito. Este, aunque funcional, es muy limitado. Uno de sus principales limitantes es no poder ponerle el nombre de tu emprendimiento al enlace donde estará subido y su tiempo de carga.
                            </p>
                        </div><!-- /.inner -->
                    </div>
                </div>


                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>¿Cómo sé qué aplicación necesito para mi emprendimiento?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>
                                No tenga miedo en contactarnos para preguntar. 
                                Siempre estamos dispuestos a ayudarlo a lograr su objetivo y aconsejarlo sobre su requerimiento.
                            </p>
                        </div><!-- /.inner -->
                    </div>
                </div>


                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>¿Cuanto tiempo tardaria en tener mi aplicacion?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>
                                Las aplicaciones varían su tiempo dependiendo de la cantidad de contenido y detalles que tengan. Una vez descubramos qué aplicación se ajusta a su objetivo, 
                                así como también los detalles del proyecto, le daremos un tiempo aproximado y máximo para su proyecto.

                            </p>
                        </div><!-- /.inner -->
                    </div>
                </div>


                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Tengo mi web terminada y mi servicio de hosting contratado. ¿Ustedes se encargan de subirla a la web?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>
                                Al terminar la aplicacion, sera subido a un hosting gratuito. <br>
                                <strong>Nosotros no subimos su aplicacion a su hosting personalizado.</strong>  <br>
                                Este es un servicio aparte que usted tiene la opcion de contratar una vez termianda la aplicacion. 
                            </p>
                        </div><!-- /.inner -->
                    </div>
                </div>


                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>¿Con la compra de mi aplicación, viene incluido el servicio de rebranding de marca?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>
                                <strong>No, el servicio de rebranding de marca es opcional.</strong> <br>
                                Este servicio, aunque sea opcional, es muy recomendable para lograr crear una aplicación que muestre fielmente su imagen  marca.
                            </p>
                        </div><!-- /.inner -->
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</section>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const accrodionTitles = document.querySelectorAll(".accrodion-title");

        accrodionTitles.forEach(function (title) {
            title.addEventListener("click", function () {
                const accrodion = this.parentElement;
                const isActive = accrodion.classList.contains("active");
                const content = accrodion.querySelector(".accrodion-content");

                if (isActive) {
                    content.style.maxHeight = "0";
                    setTimeout(function () {
                        accrodion.classList.remove("active");
                    }, 300); // Ajusta el tiempo para que coincida con la duración de la transición
                } else {
                    const activeAccordions = document.querySelectorAll(".faq-one-accrodion .accrodion.active");
                    activeAccordions.forEach(function (acc) {
                        const activeContent = acc.querySelector(".accrodion-content");
                        activeContent.style.maxHeight = "0";
                        acc.classList.remove("active");
                    });

                    accrodion.classList.add("active");
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        });
    });
</script>

<style>
    /*** 
        Faq One
    ***/
    .faq-one {
        position: relative;
        display: block;
    }

    .faq-one .container {
        max-width: 875px;
    }

    .faq-one__inner {
        position: relative;
        display: block;
    }

    .faq-one-accrodion .accrodion {
        position: relative;
        display: block;
        background-color: var(--thm-main-bg);
        border: 1px solid var(--thm-bdr-color);
        border-radius: var(--thm-border-radius);
        transition: all 0.5s ease;
    }

    .faq-one-accrodion .accrodion-title {
        position: relative;
        display: block;
        cursor: pointer;
        padding: 20px 30px 20px;
        transition: all 0.3s ease;
        padding-right: 25px;
    }

    .faq-one-accrodion .accrodion-title h4 {
        margin: 0;
        font-size: 20px;
        color: var(--thm-gray);
        font-weight: 500;
        line-height: 30px;
    }

    .faq-one-accrodion .accrodion.active .accrodion-title h4 {
        color: var(--thm-white);
    }

    .faq-one-accrodion .accrodion+.accrodion {
        margin-top: 15px;
    }

    .faq-one-accrodion .accrodion-title h4::before {
        content: "\e901";
        font-family: 'icomoon' !important;
        font-size: 13px;
        color: var(--thm-gray);
        position: absolute;
        top: 50%;
        right: 0;
        line-height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        transition: all 0.3s ease;
        text-align: center;
        width: 21px;
        height: 21px;
    }

    .faq-one-accrodion .accrodion.active .accrodion-title h4::before {
        content: "\e901";
        color: var(--thm-white);
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-180deg);
    }

    .faq-one-accrodion .accrodion-content {
        position: relative;
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease;
        
    }

    .faq-one-accrodion .accrodion-content p {
        margin: 0; /* Reinicia el margen de los párrafos */
        padding-bottom: 2em;
        padding-right: 3em;
        padding-left: 4em
    }

    .faq-one-accrodion .accrodion-content p a {
        color: var(--thm-gradient-color2);
    }
</style>