	<!-- Feature One Start -->
    <section class="feature-one">
        <div class="container">
            <div class="feature-one__inner">
                <h2 class="feature-one__title">
                    Potencia tu emprendimiento online<br>
                    con nuestros servicios <span>Web</span> 
                    <br>
                    🚀
                </h2>
            
                <div class="feature-one__main-content-box">
                    <div class="feature-one__color-overly-1 flaot-bob-y"></div>
                    <div class="feature-one__color-overly-2 flaot-bob-x"></div>
                    <div class="feature-one__color-overly-3 img-bounce"></div>
                    <div class="feature-one__main-content-top">
                        <ul class="feature-one__list">
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        
                                        <h2>🌀</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href=''>Desarrollo<br>
                                            Web</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        
                                        <h2>🎨</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href=''>Rebranding<br>
                                            Marca</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="feature-one__main-content-middle">
                        <div class="feature-one__start-1 zoominout">
                            <img src="images/shapes/feature-one-star-1.png" alt="">
                        </div>
                        <div class="feature-one__start-2 float-bob-x">
                            <img src="images/shapes/feature-one-star-2.png" alt="">
                        </div>
                        <div class="feature-one__start-3 float-bob-y">
                            <img src="images/shapes/feature-one-star-3.png" alt="">
                        </div>

                        <div class="feature-one__start-5 zoominout">
                            <img src="images/shapes/feature-one-star-5.png" alt="">
                        </div>
                        <div class="feature-one__start-6 float-bob-x">
                            <img src="images/shapes/feature-one-star-6.png" alt="">
                        </div>
                        <div class="feature-one__start-7 float-bob-y">
                            <img src="images/shapes/feature-one-star-7.png" alt="">
                        </div>

                        <!-- <div class="feature-one__ai-pack">
                            <h3>AI Pack</h3>
                        </div> -->
                        <ul class="feature-one__list">
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2>👟</h2>
                                        
                                    </div>
                                    <h5 class="feature-one__title-2"><a href=''>E-commerce<br></a>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="feature-one__cpu-icon-box">
                                    <img src="images/resource/ON_BJORN_ISO.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        
                                        <h2>💼</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href=''>Web Empresariales</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="feature-one__main-content-bottom">
                        <div class="feature-one__start-4 zoominout">
                            <img src="images/shapes/feature-one-star-4.png" alt="">
                        </div>
                        <div class="feature-one__start-8 float-bob-x">
                            <img src="images/shapes/feature-one-star-8.png" alt="">
                        </div>
                        <ul class="feature-one__list">
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2>📑</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href=''>Portfolio / CV <br> Web Interactivo</a>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2>📦</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href=''>Sistemas <br> Stock</a>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature One End -->