	<!-- Feature One Start -->
    <section class="feature-one">
        <div class="container">
            <div class="feature-one__inner">
                <h1 class="feature-one__title">
                    Potencia tu emprendimiento online 2222<br>
                    con nuestros servicios <span>Web</span> 
                    <br>
                    <span aria-hidden="true">🚀</span>
                </h1>
            
                <div class="feature-one__main-content-box">
                    <div class="feature-one__color-overly-1 flaot-bob-y" aria-hidden="true"></div>
                    <div class="feature-one__color-overly-2 flaot-bob-x" aria-hidden="true"></div>
                    <div class="feature-one__color-overly-3 img-bounce" aria-hidden="true"></div>
                    <div class="feature-one__main-content-top">
                        <ul class="feature-one__list">
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2 aria-hidden="true">🌀</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href="/#services">Desarrollo<br>
                                            Web</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2 aria-hidden="true">🎨</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href="/#services">Rebranding<br>
                                            Marca</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="feature-one__main-content-middle">
                        <div class="feature-one__start-1 zoominout" aria-hidden="true">
                            <img src="/images/shapes/feature-one-star-1.png" alt="" loading="lazy">
                        </div>
                        <div class="feature-one__start-2 float-bob-x" aria-hidden="true">
                            <img src="/images/shapes/feature-one-star-2.png" alt="" loading="lazy">
                        </div>
                        <div class="feature-one__start-3 float-bob-y" aria-hidden="true">
                            <img src="/images/shapes/feature-one-star-3.png" alt="" loading="lazy">
                        </div>

                        <div class="feature-one__start-5 zoominout" aria-hidden="true">
                            <img src="/images/shapes/feature-one-star-5.png" alt="" loading="lazy">
                        </div>
                        <div class="feature-one__start-6 float-bob-x" aria-hidden="true">
                            <img src="/images/shapes/feature-one-star-6.png" alt="" loading="lazy">
                        </div>
                        <div class="feature-one__start-7 float-bob-y" aria-hidden="true">
                            <img src="/images/shapes/feature-one-star-7.png" alt="" loading="lazy">
                        </div>

                        <ul class="feature-one__list">
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2 aria-hidden="true">👟</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href="/#services">E-commerce</a>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="feature-one__cpu-icon-box">
                                    <img src="/images/resource/ON_BJORN_ISO.png" alt="Logo de ON Bjorn">
                                </div>
                            </li>
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2 aria-hidden="true">💼</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href="/#services">Web Empresariales</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="feature-one__main-content-bottom">
                        <div class="feature-one__start-4 zoominout" aria-hidden="true">
                            <img src="/images/shapes/feature-one-star-4.png" alt="" loading="lazy">
                        </div>
                        <div class="feature-one__start-8 float-bob-x" aria-hidden="true">
                            <img src="/images/shapes/feature-one-star-8.png" alt="" loading="lazy">
                        </div>
                        <ul class="feature-one__list">
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2 aria-hidden="true">📑</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href="/#services">Portfolio / CV <br> Web Interactivo</a>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="feature-one__single">
                                    <div class="feature-one__icon">
                                        <h2 aria-hidden="true">📦</h2>
                                    </div>
                                    <h5 class="feature-one__title-2"><a href="/#services">Sistemas <br> Stock</a>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature One End -->

<style>
	/* El hero pasó de h2 a h1: conserva el tamaño visual original */
	h1.feature-one__title {
		font-size: 48px;
		line-height: 58px;
		color: var(--thm-white);
	}

	@media (max-width: 767px) {
		h1.feature-one__title {
			font-size: 30px;
			line-height: 40px;
		}
	}
</style>
