<!-- Solutions Two Start -->
<section class="solutions-two" id="projects">
    <div class="container">
        

        <div class="solutions-two__content-one wow fadeInUp" data-wow-delay="100ms">
            <div class="solutions-two__shape-1"
                style="background-image: url(/images/shapes/solutions-two-shape-1.png);" aria-hidden="true"></div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="solutions-two__content-one-left">
                        <div class="solutions-two__shape-2 zoominout" aria-hidden="true">
                            <img src="/images/shapes/solutions-two-shape-2.png" alt="" loading="lazy">
                        </div>
                        <div class="solutions-two__content-one-title-box">
                            <p>GBL-Ingeniería</p>
                            <h3>Ingeniería integral en movimiento.
                            </h3>
                        </div>
                        <p class="solutions-two__content-one-text-1">
                            GBL-Ingeniería confió en nosotros para desarrollar su web empresarial. <br>
                            Logramos mantener su imagen y desplegar su gran variedad de proyectos. <br><br>
                            Visitá su web: <a href="http://gblingenieria.com.ar/" target="_blank" rel="noopener noreferrer">GBL-Ingeniería</a>
                        </p>
                        <ul class="solutions-two__content-one-points">
                            <li>
                                <div class="icon">
                                    <i class="fal fa-check" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <p>Web de aterrizaje de tres secciones.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fal fa-check" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <p>Despliegue de la aplicación hacia la web.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fal fa-check" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <p>Integración de Google Maps dentro de la web.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="solutions-two__content-one-right">
                        <div class="solutions-two__content-one-img-box">
                            <div class="solutions-two__content-one-img">
                                <img src="/images/resource/gbl-ingenieria-inicio.png" alt="Captura del sitio web de GBL-Ingeniería" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solutions-two__content-two">
            <div class="row">


                <!--Solutions Two Single Start-->
                <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="100ms">
                    <div class="solutions-two__content-two-single">
                        <div class="solutions-two__content-two-top">
                            <div class="solutions-two__content-two-title-box">
                                <p>CoffinWeb</p>
                                <h3>Sistema de stock y control para funeraria.</h3>
                            </div>
                            <p class="solutions-two__content-two-text-1">
                                Desarrollamos un sistema de stock llamado CoffinWeb para una funeraria ubicada en General Deheza. <br>
                                Este incluye un sistema de pedidos y facturación.
                            </p>
                        </div>
                        <div class="solutions-two__content-two-img-box">
                            <div class="solutions-two__content-two-shape-1" aria-hidden="true">
                                <img src="/images/shapes/solutions-two-content-two-shape-1.png" alt="" loading="lazy">
                            </div>
                            <div class="solutions-two__content-two-img">
                                <img src="/images/resource/coffinweb-inicio.jpg" alt="Captura del sistema CoffinWeb" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Solutions Two Single End-->


                <!--Solutions Two Single Start-->
                <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-delay="100ms">
                    <div class="solutions-two__content-two-single solutions-two__content-two-single-2">
                        <div class="solutions-two__content-two-top">
                            <div class="solutions-two__content-two-title-box">
                                <p>Nails Ailen</p>
                                <h3>Pedicuría y manicuría de la más alta calidad.</h3>
                            </div>
                            <p class="solutions-two__content-two-text-1">
                                Desarrollamos una web de aterrizaje para un emprendimiento localizado en Carlos Paz, Córdoba. <br>
                                Esta cuenta con conexión directa a WhatsApp.
                                <br>
                                <br>
                                Visitá su web: <a href="https://nailsailen.vercel.app/" target="_blank" rel="noopener noreferrer">Nails Ailen</a>
                            </p>
                        </div>
                        <div class="solutions-two__content-two-img-box">
                            <div class="solutions-two__content-two-img">
                                <img src="/images/resource/nails-ailen-inicio.jpg" alt="Captura del sitio web de Nails Ailen" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Solutions Two Single End-->
            </div>
        </div>
    </div>
</section>
