<!-- Solutions Two Start -->
<section class="solutions-two" id="projects">
    <div class="container">
        

        <div class="solutions-two__content-one wow fadeInUp" data-wow-delay="100ms">
            <div class="solutions-two__shape-1"
                style="background-image: url(images/shapes/solutions-two-shape-1.png);"></div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="solutions-two__content-one-left">
                        <div class="solutions-two__shape-2 zoominout">
                            <img src="images/shapes/solutions-two-shape-2.png" alt="">
                        </div>
                        <div class="solutions-two__content-one-title-box">
                            <p>GBL-Ingeniería</p>
                            <h3>Ingeniería integral en movimiento. 
                            </h3>
                        </div>
                        <p class="solutions-two__content-one-text-1">
                            GBL-Ingeniería confio en nosotros para desarrollar su web empresarial. <br>
                            Logramos mantener su imagen y desplegar su gran variedad de proyectos. <br><br>
                            Visita su Web haciendo click <a href="http://gblingenieria.com.ar/" target="_blank">aqui.</a>

                            <br> <br>
                        </p>
                        <ul class="solutions-two__content-one-points">
                            <li>
                                <div class="icon">
                                    <i class="fal fa-check"></i>
                                </div>
                                <div class="text">
                                    <p>Web de Aterrizaje de tres Secciones.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fal fa-check"></i>
                                </div>
                                <div class="text">
                                    <p>Despliege de la Aplicacion hacia la Web.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fal fa-check"></i>
                                </div>
                                <div class="text">
                                    <p>Integracion de GoogleMaps dentro de la Web.</p>
                                </div>
                            </li>
                        </ul>
                        <div class="solutions-two__content-one-btn-box">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="solutions-two__content-one-right">
                        <div class="solutions-two__content-one-img-box">
                            <div class="solutions-two__content-one-img">
                                <img src="images/resource/GBL-INGENIERIA INICIO .png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solutions-two__content-two">
            <div class="row">


                <!--Solutions Two Single Start-->
                <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="100ms">
                    <div class="solutions-two__content-two-single">
                        <div class="solutions-two__content-two-top">
                            <div class="solutions-two__content-two-title-box">
                                <p>CoffinWeb</p>
                                <h3>Sistema de Stock y Control para Funeraria.</h3>
                            </div>
                            <p class="solutions-two__content-two-text-1">
                                Desarrollamos un Sistema de Stock llamado CoffinWeb para una funeraria ubicada en General Deheza. <br>
                                Este incluye un sistema de pedidos y facturacion.
                                <br>
                                <br>
                                <br>
                                

                            </p>
                            <div class="solutions-two__content-two-btn">

                            </div>
                        </div>
                        <div class="solutions-two__content-two-img-box">
                            <div class="solutions-two__content-two-shape-1">
                                <img src="images/shapes/solutions-two-content-two-shape-1.png" alt="">
                            </div>
                            <div class="solutions-two__content-two-img">
                                <img src="images/resource/COFFINWEB INICIOjpg.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Solutions Two Single End-->


                <!--Solutions Two Single Start-->
                <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-delay="100ms">
                    <div class="solutions-two__content-two-single solutions-two__content-two-single-2">
                        <div class="solutions-two__content-two-top">
                            <div class="solutions-two__content-two-title-box">
                                <p>Nails Ailen</p>
                                <h3>Pedicuria y manicuria de la mas alta calidad.</h3>
                            </div>
                            <p class="solutions-two__content-two-text-1">
                                Desarrollamos una web de aterrizaje para un emprendimiento localizado en Carlos Paz, Cordoba. <br>
                                Este cuenta con conexion directa a WhatsApp.
                                <br>
                                <br>
                                Visita su Web haciendo click <a href="https://nailsailen.vercel.app/" target="_blank">aqui.</a>
                            </p>
                            <div class="solutions-two__content-two-btn">
<!--										<a href=''>Try AI Video<span class="icon-up-right-arrow"></span></a>-->
                            </div>
                        </div>
                        <div class="solutions-two__content-two-img-box">
                            <div class="solutions-two__content-two-img">
                                <img src="images/resource/nailsAilen inicio.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Solutions Two Single End-->
            </div>
        </div>
    </div>
</section>